export(dsgt)
export(psgt)
export(qsgt)
export(rsgt)
export(sgt.mle)

importFrom(stats, as.formula)
importFrom(stats, dunif)
importFrom(stats, pbeta)
importFrom(stats, pgamma)
importFrom(stats, pnorm)
importFrom(stats, punif)
importFrom(stats, qbeta)
importFrom(stats, qgamma)
importFrom(stats, qunif)
importFrom(stats, runif)
importFrom(optimx, optimx)
importFrom(numDeriv, hessian)
importFrom(numDeriv, grad)

S3method(print, sgtest)
S3method(summary, sgtest)
S3method(print, summary.sgtest)

