export(dsgt)
export(psgt)
export(qsgt)
export(rsgt)
export(sgt.mle)

importFrom(maxLik, maxLik)

S3method(summary, MLE)
S3method(print, summary.MLE)
S3method(print, mult.MLE)
S3method(summary, mult.MLE)
S3method(print, summary.mult.MLE)

